<!doctype html>
<html lang="en">
  @include('partials/head')
  <body>
    <div class="app-container app-theme-white body-tabs-shadow fixed-header fixed-sidebar" id="educationalAttainmentPage">
        @include('partials/admin/header')
        <div class="app-main">
          @include('partials/admin/sidebar')
          <div class="app-main__outer" v-cloak>
            <div class="app-main__inner">
              <div class="app-page-title app-page-title-simple">
                <div class="page-title-wrapper">
                  <div class="page-title-heading">
                    <div>
                      <div class="page-title-head center-elem">
                        <span class="d-inline-block pe-2">
                          <i class="lnr-apartment opacity-6"></i>
                        </span>
                        <span class="d-inline-block">Educational Attainment</span>
                      </div>
                      <div class="page-title-subheading opacity-10">
                        <nav class="" aria-label="breadcrumb">
                          <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                              <a>
                                <i aria-hidden="true" class="fa fa-home"></i>
                              </a>
                            </li>
                            <li class="breadcrumb-item">
                              <a>Dashboard</a>
                            </li>
                            <li class="active breadcrumb-item" aria-current="page">
                              Educational Attainment
                            </li>
                          </ol>
                        </nav>
                      </div>
                    </div>
                  </div>
                  
                </div>
              </div>
              <button type="button" class="btn btn-primary mb-3  " data-bs-toggle="modal" data-bs-target="#addEducationalAttainmentModal">
                <i class="fas fa-add"></i> <span>New Educational Attainment</span>
              </button>
              <div class="main-card mb-3 card p-5">
                    <data-table :value="educationalAttainments" table-class="table table-striped">
                        <column field="name" header="Name"></column>
                        <column field="createdAt" header="Created At">
                            <template #body="slotProps">
                              ${ toReadableDatetime(slotProps.data.createdAt) }
                          </template>
                         </column>
                         <column  header="Actions">
                         <template #body="slotProps">
                          <div class="d-flex gap-2">
                            <button class="btn btn-outline-primary">Edit</button>
                            <button class="btn btn-outline-danger" >Delete</button>
                          </div>
                        </template>
                       </column>
                    </data-table>
              </div>
            </div>
            @include('partials/admin/footer')
          </div>
        </div>
        
        @!component('components/educational_attainments/add-educational-attainment-modal')
        @!component('components/educational_attainments/edit-educational-attainment-modal')
    </div>
    @include('partials/admin/app_drawer')
    @include('partials/scripts')
    @vite('resources/ts/educational_attainments/educational_attainments.ts')
  </body>
</html>
