<!doctype html>
<html lang="en">
  @include('partials/head')
  <body>
    <div class="app-container app-theme-white body-tabs-shadow fixed-header fixed-sidebar" id="addFacultyPage">
        @include('partials/admin/header')
        <div class="app-main">
          @include('partials/admin/sidebar')
          <div class="app-main__outer">
            <div class="app-main__inner">
              <div class="app-page-title app-page-title-simple">
                <div class="page-title-wrapper">
                  <div class="page-title-heading">
                    <div>
                      <div class="page-title-head center-elem">
                        <span class="d-inline-block pe-2">
                          <i class="lnr-apartment opacity-6"></i>
                        </span>
                        <span class="d-inline-block">Add Faculty</span>
                      </div>
                      <div class="page-title-subheading opacity-10">
                        <nav class="" aria-label="breadcrumb">
                          <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                              <a>
                                <i aria-hidden="true" class="fa fa-home"></i>
                              </a>
                            </li>
                            <li class="breadcrumb-item">
                              <a>Dashboard</a>
                            </li>
                            <li class="active breadcrumb-item" aria-current="page">
                              Faculty
                            </li>
                          </ol>
                        </nav>
                      </div>
                    </div>
                  </div>
                  
                </div>
              </div>
             
              <div class="main-card mb-3 card p-5">
              <form v-on:submit.prevent="submit" v-cloak>
                <div class="row mb-3">
                  
                  <div>
                  
                    <img style="min-width: 100px; min-height: 100px; width: 150px; height:150px;" alt="faculty-image" :src="form.image ? form.image : 'https://static.vecteezy.com/system/resources/thumbnails/005/544/718/small_2x/profile-icon-design-free-vector.jpg'"  class="img-thumbnail">
                </div>
                    <div >
                    <input type="file" v-on:change="handleImageSelection" id="files" class="d-none"  accept="image/png, image/jpg, image/jpeg, image/webp"/>
                    <label  for="files" style="cursor:pointer; margin-left: 30px;">
                      <u>Upload image </u></label>
                  </div>
                </div>
                <div class="alert alert-secondary" role="alert">
                  <i class="fa fa-user" aria-hidden="true"></i> General Information
                </div>
           
               <div class="row">
                <div class="col-lg-4 mb-2">
                  <label for="givenName">Given name*</label> <span class="badge badge-light">4</span>
                  <input name="givenName" v-model="form.givenName" class="form-control" :class="{'is-invalid':errors?.givenName?.[0]}">
                  <div class="invalid-feedback" :class="{'d-block':errors?.givenName?.[0]}">${errors?.givenName?.[0]}</div>
                </div>
               <div class="col-lg-4 mb-2">
                <label for="middleName">Middle name*</label>
                <input name="middleName" v-model="form.middleName" class="form-control" :class="{'is-invalid':errors?.middleName?.[0]}">
                <div class="invalid-feedback" :class="{'d-block':errors?.middleName?.[0]}">${errors?.middleName?.[0]}</div>
               </div>
               
               <div class="col-lg-4 mb-2">
                <label for="surname">Surname*</label>
                <input name="surname" v-model="form.surname" class="form-control" :class="{'is-invalid':errors?.surname?.[0]}">
                <div class="invalid-feedback" :class="{'d-block':errors?.surname?.[0]}">${errors?.surname?.[0]}</div>
               </div>
               <div class="col-lg-6 mb-2">
                <label for="gender">Sex*</label>
                <select name="gender" v-model="form.gender" class="form-control" :class="{'is-invalid':errors?.gender?.[0]}">
                  <option value="" selected>Select gender</option>
                  <option value="male">Male</option>
                  <option value="female">Female</option>
                  <option value="female">Other</option>
                </select>
                <div class="invalid-feedback" :class="{'d-block':errors?.gender?.[0]}">${errors?.gender?.[0]}</div>
               </div>
               <div class="col-lg-6 mb-2">
                <label name="dateOfBirth">Date of birth*</label>
                <input name="dateOfBirth" :max="toISO8601DateString(maxDate)" v-on:change="handleDateOfBirth" :value="toISO8601DateString(form.dateOfBirth)" type="date" class="form-control" :class="{'is-invalid':errors?.dateOfBirth?.[0]}">
                <div class="invalid-feedback" :class="{'d-block':errors?.dateOfBirth?.[0]}">${errors?.dateOfBirth?.[0]}</div>
               </div>
               </div>
               <div class="alert alert-secondary mt-3" role="alert">
                <i class="fa-solid fa-briefcase"></i> Employment Requirements
              </div>
               <div class="row">
                <div class="col-lg-4 mb-2">
                  <label for="tin">TIN</label>
                  <input name="tin" v-model="form.tin" class="form-control" :class="{'is-invalid':errors?.tin?.[0]}">
                  <div class="invalid-feedback" :class="{'d-block':errors?.TIN?.[0]}">${errors?.tin?.[0]}</div>
                  
                </div>
                
                <div class="col-lg-4 mb-2">
                  <label for="positionId">Department*</label>
                  <select name="positionId" v-model="form.departmentId" class="form-control" :class="{'is-invalid':errors?.departmentId?.[0]}">
                      <option value="0" disabled selected>Select position</option>
                      @each(department in departments)
                          <option value="{{department.id}}"> {{department.name }} </option>
                      @end
                  </select>
                  <div class="invalid-feedback" :class="{'d-block':errors?.positionId?.[0]}">${errors?.departmentId?.[0]}</div>
                 </div>
               <div class="col-lg-4 mb-2">
                <label for="positionId">Position*</label>
                <select name="positionId" v-model="form.positionId" class="form-control" :class="{'is-invalid':errors?.positionId?.[0]}">
                    <option value="0" disabled selected>Select position</option>
                    @each(position in positions)
                        <option value="{{position.id}}"> {{position.name }} </option>
                    @end
                </select>
                <div class="invalid-feedback" :class="{'d-block':errors?.positionId?.[0]}">${errors?.positionId?.[0]}</div>
               </div>
               
               <div class="col-lg-4 mb-2">
                <label for="employmentStatus">Employment Status*</label>
                <select name="employmentStatus" v-model="form.employmentStatus" class="form-control" :class="{'is-invalid':errors?.employmentStatus?.[0]}">
                  <option value="" selected>Select employment status</option>
                  <option value="regular" >Regular</option>
                  <option value="part-time" >Part-time</option>
                  <option value="resigned">Resigned</option>
                  <option value="terminated">Terminated</option>
                </select>
                <div class="invalid-feedback" :class="{'d-block':errors?.employmentStatus?.[0]}">${errors?.employmentStatus?.[0]}</div>
               </div>
               <div class="col-lg-6 mb-2">
                <label for="fundSourceId">Fund Source*</label>
                <select name="fundSourceId" v-model="form.fundSourceId" class="form-control" :class="{'is-invalid':errors?.fundSourceId?.[0]}">
                    <option value="0" disabled selected>Select fund source</option>
                    @each(fundSource in fundSources)
                        <option value="{{fundSource.id}}"> {{fundSource.name }} </option>
                    @end
                </select>
                <div class="invalid-feedback" :class="{'d-block':errors?.fundSourceId?.[0]}">${errors?.fundSourceId?.[0]}</div>
               </div>
               </div>
               <div>
                <div class="alert alert-secondary mt-3" role="alert">
                  <i class="fa-solid fa-book"></i> Educational Background
                 </div>
               <button type="button" class="btn btn-outline-primary mb-3" v-on:click="addEducation">
                <i class="fas fa-add"></i> <span>Add Education</span>
              </button>
              </div>
              <div class="alert alert-danger" role="alert" v-show="errors?.educations?.[0] || errors?.educations?.['*']?.almaMater?.[0]  || errors?.educations?.['*']?.educationalAttainmentId?.[0] ">
                 <div v-show="errors?.educations?.[0]">- ${errors?.educations?.[0]} </div>
                 <div v-show="errors?.educations?.['*']?.almaMater?.[0]">- ${errors?.educations?.['*']?.almaMater?.[0]}</div>
                 <div v-show="errors?.educations?.['*']?.educationalAttainmentId?.[0]"> - ${errors?.educations?.['*']?.educationalAttainmentId?.[0]}</div>
              </div>
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>Degree</th>
                    <th>Educational Attainment</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                    <tr v-for="(item, index) in form.educations">
                        <td>
                            <input type="text" v-model="form.educations[index].almaMater" class="form-control">
                        </td>
                        <td>
                           <select v-model="form.educations[index].educationalAttainmentId"  class="form-control">
                            <option value="0" disabled selected>Select educational attainment</option>
                            @each(ea in educationalAttainments)
                             <option value="{{ea.id}}"> {{ea.name }} </option>
                             @end
                           </select>
                        </td>
                        <td>
                          <button type="button" v-on:click="removeEducationByIndex(index)" class="btn btn-danger">
                              <i class="fas fa-times"></i>
                          </button>
                        </td>
                    </tr>
                </tbody>
              </table>
              <div class="alert alert-secondary mt-3" role="alert">
                <i class="fa-solid fa-address-book"></i> Account and Contact Information
               </div>
              <div class="row">
                <div class="col-lg-4 mb-2">
                  <label for="email">Email*</label>
                  <input name="email" v-model="form.email" type="email" class="form-control" :class="{'is-invalid':errors?.email?.[0]}">
                  <div class="invalid-feedback" :class="{'d-block':errors?.email?.[0]}">${errors?.email?.[0]}</div>
                </div>
                <div class="col-lg-4 mb-2">
                  <label for="mobileNumber">Mobile number*</label>
                  <input name="mobileNumber" v-model="form.mobileNumber" class="form-control" :class="{'is-invalid':errors?.mobileNumber?.[0]}">
                  <div class="invalid-feedback" :class="{'d-block':errors?.mobileNumber?.[0]}">${errors?.mobileNumber?.[0]}</div>
                </div>
               <div class="col-lg-4 mb-2">
                <label for="password">Password*</label>
                <input name="password" v-model="form.password" class="form-control" type="password" :class="{'is-invalid':errors?.password?.[0]}">
                <div class="invalid-feedback" :class="{'d-block':errors?.password?.[0]}">${errors?.password?.[0]}</div>
               </div>
               </div>
               <button type="submit" class="btn btn-primary mb-3" :disabled="isSubmitting">
                <i class="fas fa-save"></i> <span>Save</span>
              </button>
              </form>
              </div>
            </div>
            @include('partials/admin/footer')
          </div>
        </div>
        
        
    </div>
    
    @include('partials/scripts')
    @vite(['resources/ts/faculties/add_faculty.ts'])
  </body>
</html>
