<!doctype html>
<html lang="en">
  @include('partials/head')
  <body>
    <div class="app-container app-theme-white body-tabs-shadow fixed-header fixed-sidebar" id="addFacultyPage">
        @include('partials/admin/header')
        <div class="app-main">
          @include('partials/admin/sidebar')
          <div class="app-main__outer">
            <div class="app-main__inner">
              <div class="app-page-title app-page-title-simple">
                <div class="page-title-wrapper">
                  <div class="page-title-heading">
                    <div>
                      <div class="page-title-head center-elem">
                        <span class="d-inline-block pe-2">
                          <i class="lnr-apartment opacity-6"></i>
                        </span>
                        <span class="d-inline-block">Add Faculty</span>
                      </div>
                      <div class="page-title-subheading opacity-10">
                        <nav class="" aria-label="breadcrumb">
                          <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                              <a>
                                <i aria-hidden="true" class="fa fa-home"></i>
                              </a>
                            </li>
                            <li class="breadcrumb-item">
                              <a>Dashboard</a>
                            </li>
                            <li class="active breadcrumb-item" aria-current="page">
                              Faculty
                            </li>
                          </ol>
                        </nav>
                      </div>
                    </div>
                  </div>
                  
                </div>
              </div>
             
              <div class="main-card mb-3 card p-5">
              <form>
                <div class="alert alert-secondary" role="alert">
                  <i class="fa fa-user" aria-hidden="true"></i> General Information
                </div>
               <div class="row">
                <div class="col-lg-4 mb-2">
                  <label>Given name</label>
                  <input class="form-control ">
                </div>
               <div class="col-lg-4 mb-2">
                <label>Middle name</label>
                <input class="form-control ">
               </div>
               
               <div class="col-lg-4 mb-2">
                <label>Surname</label>
                <input class="form-control ">
               </div>
               <div class="col-lg-6 mb-2">
                <label>Gender</label>
                <select class="form-control">
                  <option value="" selected>Select gender</option>
                  <option value="male">Male</option>
                  <option value="female">Female</option>
                  <option value="female">Other</option>
                </select>
               </div>
               <div class="col-lg-6 mb-2">
                <label>Date of birth</label>
                <input type="date" class="form-control ">
               </div>
               </div>
               <div class="alert alert-secondary mt-3" role="alert">
                <i class="fa-solid fa-briefcase"></i> Employment Requirements
              </div>
               <div class="row">
                <div class="col-lg-4 mb-2">
                  <label>TIN</label>
                  <input class="form-control ">
                </div>
               <div class="col-lg-4 mb-2">
                <label>Position</label>
                <select class="form-control">
                    <option value="" disabled selected>Select position</option>
                    @each(position in positions)
                        <option value="{{position.id}}"> {{position.name }} </option>
                    @end
                </select>
               </div>
               
               <div class="col-lg-4 mb-2">
                <label>Employment Status</label>
                <select class="form-control">
                  
                </select>
               </div>
               <div class="col-lg-6 mb-2">
                <label>Fund Source</label>
                <select class="form-control">
                    <option value="" disabled selected>Select fund source</option>
                    @each(fundSource in fundSources)
                        <option value="{{fundSource.id}}"> {{fundSource.name }} </option>
                    @end
                </select>
               </div>
               </div>
               <div>
                <div class="alert alert-secondary mt-3" role="alert">
                  <i class="fa-solid fa-book"></i> Educational Background
                 </div>
               <button type="button" class="btn btn-outline-primary mb-3">
                <i class="fas fa-add"></i> <span>Add Education</span>
              </button>
              </div>
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>Alma Mater</th>
                    <th>Educational Attainment</th>
                  </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                           
                            <input type="text" class="form-control">
                        </td>
                        <td>
                           <select class="form-control">
                            <option value="" disabled selected>Select education attainment</option>
                            @each(ea in educationalAttainments)
                             <option value="{{ea.id}}"> {{ea.name }} </option>
                             @end
                           </select>
                        </td>
                    </tr>
                </tbody>
              </table>
              <div class="alert alert-secondary mt-3" role="alert">
                <i class="fa-solid fa-address-book"></i> Account and Contact Information
               </div>
              <div class="row">
                <div class="col-lg-4 mb-2">
                  <label>Email</label>
                  <input type="email" class="form-control ">
                </div>
                <div class="col-lg-4 mb-2">
                  <label>Mobile number</label>
                  <input type="email" class="form-control ">
                </div>
               <div class="col-lg-4 mb-2">
                <label>Password</label>
                <input class="form-control" type="password">
               </div>
               </div>
               <button type="submit" class="btn btn-primary mb-3">
                <i class="fas fa-save"></i> <span>Save</span>
              </button>
              </form>
              </div>
            </div>
            @include('partials/admin/footer')
          </div>
        </div>
        
        
    </div>
    @include('partials/admin/app_drawer')
    @include('partials/scripts')
    @vite(['resources/ts/faculties/add_faculty.ts'])
  </body>
</html>
