<!doctype html>
<html lang="en">
  @include('partials/head')
  <body>
    <div class="app-container app-theme-white body-tabs-shadow fixed-header fixed-sidebar">
      @include('partials/admin/header')
      <div class="app-main">
        @include('partials/admin/sidebar')
        <div class="app-main__outer">
          <div class="app-main__inner">
            <div class="app-page-title app-page-title-simple">
              <div class="page-title-wrapper">
                <div class="page-title-heading">
                  <div>
                    <div class="page-title-head center-elem">
                      <span class="d-inline-block pe-2">
                        <i class="lnr-apartment opacity-6"></i>
                      </span>
                      <span class="d-inline-block">Minimal Dashboard</span>
                    </div>
                    <div class="page-title-subheading opacity-10">
                      <nav class="" aria-label="breadcrumb">
                        <ol class="breadcrumb">
                          <li class="breadcrumb-item">
                            <a>
                              <i aria-hidden="true" class="fa fa-home"></i>
                            </a>
                          </li>
                          <li class="breadcrumb-item">
                            <a>Dashboards</a>
                          </li>
                          <li class="active breadcrumb-item" aria-current="page">
                            Minimal Dashboard Example
                          </li>
                        </ol>
                      </nav>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="mbg-3 alert alert-info alert-dismissible fade show" role="alert">
              <span class="pe-2">
                <i class="fa fa-question-circle"></i>
              </span>
              This dashboard example was created using only the available elements and components,
              no additional SCSS was written!
            </div>
            <div class="main-card mb-3 card p-5">
              <h1>Content Here</h1>
            </div>
          </div>
          @include('partials/admin/footer')
        </div>
      </div>
    </div>
    @include('partials/admin/app_drawer') @include('partials/scripts')
  </body>
</html>
