<!doctype html>
<html lang="en">
  @include('partials/head')
  <body>
    <div class="app-container app-theme-white body-tabs-shadow fixed-header fixed-sidebar">
        @include('partials/faculty/header')
        <div class="app-main">
          @include('partials/faculty/sidebar')
          <div class="app-main__outer" id="createLessonPlan">
            <div class="app-main__inner">
              <div class="app-page-title app-page-title-simple">
                <div class="page-title-wrapper">
                  <div class="page-title-heading">
                    <div>
                      <div class="page-title-head center-elem">
                        <span class="d-inline-block pe-2">
                          <i class="lnr-apartment opacity-6"></i>
                        </span>
                        <span class="d-inline-block">Lesson Plans</span>
                      </div>
                      <div class="page-title-subheading opacity-10">
                        <nav class="" aria-label="breadcrumb">
                          <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                              <a>
                                <i aria-hidden="true" class="fa fa-home"></i>
                              </a>
                            </li>
                            <li class="breadcrumb-item">
                              <a>Dashboard</a>
                            </li>
                            <li class="active breadcrumb-item" aria-current="page">
                              Lesson Plans
                            </li>
                          </ol>
                        </nav>
                      </div>
                    </div>
                  </div>
                  
                </div>
              </div>
            
              <div class="main-card mb-3 card p-5" v-cloak>
               <div class="row">
          
                <div class="col-lg-6">
                    <label>Grade/Level</label>
                    <select class="form-control" v-model="form.grade">
                        <option value="" disabled >Select Grade/Level</option>
                        <option value="grade-1">Grade 1</option>
                        <option value="grade-2">Grade 2</option>
                        <option value="grade-3">Grade 3</option>
                        <option value="grade-4">Grade 4</option>
                        <option value="grade-5">Grade 5</option>
                        <option value="grade-6">Grade 6</option>
                        <option value="grade-7">Grade 7</option>
                        <option value="grade-8">Grade 8</option>
                        <option value="grade-9">Grade 9</option>
                        <option value="grade-10">Grade 10</option>
                        <option value="grade-11">Grade 11</option>
                        <option value="grade-12">Grade 12</option>
                    </select>
                </div>

                <div class="col-lg-6">
                    <label>Quarter</label>
                    <select class="form-control" v-model="form.quarter">
                        <option value="" disabled >Select Quarter</option>
                        <option value="quarter-1">Quarter 1</option>
                        <option value="quarter-2">Quarter 2</option>
                        <option value="quarter-3">Quarter 3</option>
                        <option value="quarter-4">Quarter 4</option>
                    </select>
                </div>
                <div class="col-lg-6">
                    <label>Week number</label>
                    <input type="number" v-model="form.weekNumber" class="form-control">
                </div>
                <div class="col-lg-6">
                    <label>Start date</label>
                    <input type="date"  class="form-control">
                </div>
                <div class="col-lg-6">
                    <label>End date</label>
                    <input type="date"  class="form-control">
                </div>
                
            

                <div class="col-lg-12">
                    <label>Learning Areas</label>
                   <textarea v-model="form.learningAreas" class="form-control"></textarea>
                </div>
                <div class="col-lg-12">
                    <label>Objective</label>
                   <textarea v-model="form.objective" class="form-control"></textarea>
                </div>
                <div class="col-lg-12">
                    <label>Content Standard</label>
                   <textarea v-model="form.contentStandard" class="form-control"></textarea>
                </div>
                <div class="col-lg-12">
                    <label>Performance Standard</label>
                   <textarea  v-model="form.performanceStandardq" class="form-control"></textarea>
                </div>
               </div>
               <div class="alert alert-secondary mt-3" role="alert">
                <i class="fa-solid fa-z"></i>  Session
               </div>
               <div>
               <button class="btn btn-outline-primary" v-on:click="addSession">
                <i class="fas fa-plus"></i>
                Add Session</button>
                <div class="p-4" v-for="(session,index) in form.sessions">
                    <div class="d-flex gap-4 align-items-center">
                    <h4>Session ${index + 1}</h4>
                    <button type="button" class="btn btn-danger"  v-on:click="removeSession(index)"><i class="fas fa-times"></i></button>  
                   </div>
                    <hr>
                    <div class="row py-1"  v-for="(label,index) in form.rowLabels">
                            <div class="col-lg-6">${label}</div>
                            <div class="col-lg-6">
                                <textarea class="form-control"></textarea>
                            </div>
                     </div>
                    
                </div>
               </div>

               <div class="alert alert-secondary mt-3" role="alert">
                <i class="fa-solid fa-z"></i>  Row Label
               </div>
               <div>
                <div class="mt-1 mb-1">
                    <button class="btn btn-outline-primary" v-on:click="addRowLabel">
                     <i class="fas fa-plus" ></i>
                     Add Row Label</button>
                </div>
                <div class="d-flex align-items-center gap-2"  v-for="(label,index) in form.rowLabels">
                    <div style="flex-basis: 90%;">
                        <label>Label</label>
                       <textarea  v-model="form.rowLabels[index]" class="form-control"></textarea>
                    </div>
                    <button type="button" class="btn btn-danger"  v-on:click="removeRowLabel(index)"><i class="fas fa-times"></i></button>
                    <button data-toggle="tooltip" data-placement="right" title="Add row on top" type="button" class="btn btn-outline-primary" v-on:click="addRowLabelBefore(index)"><i class="fa-solid fa-arrow-up"></i></button>
                    <button data-toggle="tooltip" data-placement="right" title="Add row below" type="button" class="btn btn-outline-primary" v-on:click="addRowLabelAfter(index)">
                        <i class="fa-solid fa-arrow-down"></i>
                    </button>
                   
                </div>
               </div>
               
              </div>
            </div>
            @include('partials/faculty/footer')
          </div>
        </div>
        
        
    </div>
    
    @include('partials/scripts')
    @vite(['resources/ts/faculty/lesson-plans/add_lesson_plan.ts'])
  </body>
</html>
