<!doctype html>
<html lang="en">
  @include('partials/head')
  <body>
    <div class="app-container app-theme-white body-tabs-shadow fixed-header fixed-sidebar">
        @include('partials/faculty/header')
        <div class="app-main">
          @include('partials/faculty/sidebar')
          <div class="app-main__outer">
            <div class="app-main__inner">
              <div class="app-page-title app-page-title-simple">
                <div class="page-title-wrapper">
                  <div class="page-title-heading">
                    <div>
                      <div class="page-title-head center-elem">
                        <span class="d-inline-block pe-2">
                          <i class="lnr-apartment opacity-6"></i>
                        </span>
                        <span class="d-inline-block">Lesson Plans</span>
                      </div>
                      <div class="page-title-subheading opacity-10">
                        <nav class="" aria-label="breadcrumb">
                          <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                              <a>
                                <i aria-hidden="true" class="fa fa-home"></i>
                              </a>
                            </li>
                            <li class="breadcrumb-item">
                              <a>Dashboard</a>
                            </li>
                            <li class="active breadcrumb-item" aria-current="page">
                              Lesson Plans
                            </li>
                          </ol>
                        </nav>
                      </div>
                    </div>
                  </div>
                  
                </div>
              </div>
            
              <div class="main-card mb-3 card p-5">
               <div class="row">
          
                <div class="col-lg-6">
                    <label>Grade/Level</label>
                    <select class="form-control">
                        <option value="grade-1">Grade 1</option>
                        <option value="grade-2">Grade 2</option>
                        <option value="grade-3">Grade 3</option>
                        <option value="grade-4">Grade 4</option>
                        <option value="grade-5">Grade 5</option>
                        <option value="grade-6">Grade 6</option>
                        <option value="grade-7">Grade 7</option>
                        <option value="grade-8">Grade 8</option>
                        <option value="grade-9">Grade 9</option>
                        <option value="grade-10">Grade 10</option>
                        <option value="grade-11">Grade 11</option>
                        <option value="grade-12">Grade 12</option>
                    </select>
                </div>

                <div class="col-lg-6">
                    <label>Quarter</label>
                    <select class="form-control">
                        <option value="quarter-1">Quarter 1</option>
                        <option value="quarter-2">Quarter 2</option>
                        <option value="quarter-3">Quarter 3</option>
                        <option value="quarter-4">Quarter 4</option>
                    </select>
                </div>
                <div class="col-lg-6">
                    <label>Week number</label>
                    <input type="number" min="1" class="form-control">
                </div>
                <div class="col-lg-6">
                    <label>Start date</label>
                    <input type="date"  class="form-control">
                </div>
                <div class="col-lg-6">
                    <label>End date</label>
                    <input type="date"  class="form-control">
                </div>
                
            

                <div class="col-lg-12">
                    <label>Learning Areas</label>
                   <textarea class="form-control"></textarea>
                </div>
                <div class="col-lg-12">
                    <label>Objective</label>
                   <textarea class="form-control"></textarea>
                </div>
                <div class="col-lg-12">
                    <label>Content Standard</label>
                   <textarea class="form-control"></textarea>
                </div>
                <div class="col-lg-12">
                    <label>Learning Areas</label>
                   <textarea class="form-control"></textarea>
                </div>
               </div>
                
               
              </div>
            </div>
            @include('partials/faculty/footer')
          </div>
        </div>
        
        
    </div>
    
    @include('partials/scripts')
  </body>
</html>
